@model IEnumerable<StoreWebApp.Models.CustomerVM>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Customer Management</h1>

    <a class="btn btn-secondary" asp-action="AddCustomer">Add Customer</a>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.ActionLink("Place Order", "SelectForOrder", "StoreFront", new { p_cust_id = item.Id }, new { @style = "color:white", @class = "btn btn-secondary" })</td>
                    <td>@Html.ActionLink("View Order History", "Index", "ReviewOrder", new { p_id = item.Id }, new { @style = "color:white", @class = "btn btn-secondary" })</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>