@model StoreWebApp.Models.InventoryReplenishVM
<tr>
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.StoreId)
    @Html.HiddenFor(x => x.Prod.Id)
    @Html.HiddenFor(x => x.Prod.Name)
    @Html.HiddenFor(x => x.Prod.Price)
    @Html.HiddenFor(x => x.QuantNow)
    <td>
        @Html.DisplayFor(x => x.Prod.Name)
    </td>
    <td>
        @Html.DisplayFor(x => x.Prod.Price)
    </td>
    <td>
        @Html.DisplayFor(x => x.QuantNow)
    </td>
    <td>
        @Html.TextBoxFor(x => x.NewQuant, new { @min = "0", type = "number" })
    </td>
</tr>